.wrapper {
    width: 1280px;
    display: block;
    margin: 10px auto;
    font-family: 'Inter';
}

.header {
    margin-left: 10px;
    margin-bottom: 15px;

}

.header>h1 {
    margin: 0 0 15px 0;
}

.search {
    display: flex;
    background: #F7F7F8;
    margin: 0;
    padding: 15px;
    border-radius: 15px;
}

.searchInput {
    border: none;
    background: #F7F7F8;
    width: 100%;
    height: 20px;
    margin: 0 10px 0 10px;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #c3c3c6;
}

.searchInput::placeholder {
    color: #c3c3c6;
}

.search:focus {
    border: none;
}

.search>img:last-child {
    cursor: pointer;
}

.sortUsers {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #97979B;
    column-gap: 25px;
    margin-top: 15px;
    border-bottom: 1px solid #c3c3c6;
}

.sortUsers>p {
    cursor: pointer;
    margin: 0;
    padding: 0 10px 10px 10px;
}

.sortUsers>p:first-child {
    color: black;
}

.userWrapper {
    display: flex;
    margin: 0 0 15px 15px;
}

.userNameWrapper {
    margin-left: 20px;
    padding-top: 22px;
}

.userName,
.userPosition {
    margin: 0;
    justify-content: center;
}

.imageWrapper {
    width: 72px;
    height: 72px;
}

.userTag {
    text-transform: lowercase;
    color: #c3c3c6;
    margin-left: 5px;
}

.userPosition {
    margin-top: 5px;
    color: #c3c3c6;
}

.modalWrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(5, 5, 16, 0.16);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: show .25s ease forwards;
    z-index: 999;
    background: #fafafa;
    padding: 1rem;
    width: 373px;
    height: 162px;
    border-radius: 20px;
    justify-content: center;
}

.modalTitle {
    text-align: center;
    margin-top: 0px;
}

.modal>button {
    width: 25px;
    height: 25px;
    border: none;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 50%;
    background: #F7F7F8;
    cursor: pointer;
    color: #C3C3C6;
}

.modalClose {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.25rem;
    font-weight: bold;
}

@keyframes show {
    to {
        transform: translate(-50%, -50%) scale(1)
    }
}

.modalInput {
    appearance: none;
    border: 2px solid #ecedef;
    border-radius: 50%;
    background-clip: content-box;
    padding: 3px;
    margin: 14px 0 0 0;
    width: 20px;
    height: 20px;
    border: 2px solid #6534FF;

    &:checked {
        border: 6px solid #6534FF;
    }
}

.modalInputWrapper {
    width: 100%;
    display: inline-flex;
    align-items: flex-end
}

.modalLabel {
    margin-left: 15px;
}

@media screen and (min-width:720px) and (max-width:1280px) {
    .wrapper {
        width: 720px;
        display: block;
    }
}


@media screen and (min-width:320px) and (max-width:720px) {
    .wrapper {
        width: 320px;
        display: block;
    }

    .sortUsers {
        overflow-y: auto;
    }

    .sortUsers::-webkit-scrollbar {
        display: none;
    }
}